.catalogue {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 3vh;
    margin-top: 4vh;
    flex-wrap: wrap;

    .photo-unique {
        width: 48.5%;
        height: 34vw;
        position: relative;

        img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        }
    }
}



.photo-survol {
        position: absolute; 
        top: 0; 
        left: 0; 
        width: 100%;
        height: 100%; 
        background-color: rgba(0, 0, 0, 0.5); 
        display: flex; 
        padding: 15px; 
        box-sizing: border-box;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        opacity: 0;

        .survol-oeil {
            position: relative; 
            display: flex;
            justify-content: center;

            .oeil {
                width: 3vw;
                height: auto;
            }
        }

        .survol-fullscreen {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            cursor: pointer;

            .fullscreen {
                width: 2.3vw;
                height: auto;
            }

        }

        .survol-texte {
            color: white; 
            display: flex;
            justify-content: space-between;
            width: 100%;

            p {
                margin: 0;
                text-transform: uppercase;
            }

            .survol-categorie {
                font-family: 'Space Mono', sans-serif;
            }
        }
}

.photo-survol:hover {
    opacity: 1;
}

@media (max-width: $breakpoint__large_phone) {
    .catalogue {
        .photo-unique {
            width: 100%;
            height: 60vw;
        }
    }
}