.catalog {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3vh;
    margin-top: 4vh;
    flex-wrap: wrap;

    .photo-unique {
        width: 38vw;
        height: 34vw;
        position: relative;

        img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        }
    }
}

.photo-hover {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%;
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex; 
    padding: 15px; 
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;

    .hover-eye {
        position: relative; 
        display: flex;
        justify-content: center;

        .eye {
            width: 3vw;
            height: auto;
            min-width: 30px;
        }
    }

    .hover-fullscreen {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        cursor: pointer;

        .fullscreen {
            width: 2.3vw;
            height: auto;
            min-width: 30px;
        }
    }

    .hover-text {
        color: white; 
        display: flex;
        justify-content: space-between;
        width: 100%;

        p {
            margin: 0;
            text-transform: uppercase;
        }

        .hover-category {
            font-family: 'space_mono', sans-serif;
        }
    }
}

.photo-hover:hover {
    opacity: 1;
}

@media (max-width: $breakpoint__tab) {
    .catalogue {
        .photo-unique {
            width: 100%;
            height: 60vw;
        }
    }
}

@media (max-width: $breakpoint__large_phone) {
    .catalogue {
        .photo-unique {
            width: 100%;
            height: 60vw;
        }
    }
}