
.lightbox {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
    display: none;
    align-items: center;
    justify-content: space-around;
    color: white;
    gap: 10px;

    @media (max-width: $breakpoint__large_phone) {
        flex-direction: column;
        height: 100%;
        justify-content: space-evenly;
    }

    .lightbox__container {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0 10%;

        img {
            width: 100%;
            height: 90vh;
            object-fit: contain;

            @media (max-width: $breakpoint__large_phone) {
                height: 70vh;
            }
        }

        >div {
            display: flex;
            text-transform: uppercase;
            width: 100%;
            justify-content: space-between;
            margin-top: 15px;

            .lightbox__ref {
                font-family: 'Poppins', sans-serif;
            }

        }
    }

    .lightbox__prev, .lightbox__next {
        min-width: 100px;
        cursor: pointer;
        display: flex;
        font-size: 12px;
        justify-content: center;
        align-items: center;
        gap: 10px;

        img {
            width: 20px;
        }

        &:hover {
            font-weight: bold;
        }
    }

    .lightbox__next {
        text-align: right;
    }

    .lightbox__close {
        position: absolute;
        top: 2%;
        right: 7%;
        color: white;
        cursor: pointer;
    }

}